@font-face{
	font-family: acceleration;
	src:url("../font/Acceleration & Reaction.ttf");
}
body{
	background-color: #eaeaea;
}
.navbar-fixed-top{
	background-color:transparent;
    transition: all 1s ease;
    top:0;
    width:100%;
    padding-bottom: 10px;
    border: none;
    height: 20px;
}
.container #myNavbar ul li a, .container .navbar-header a.navbar-brand{
	color: white;
	font-weight: bold;
}
.container #myNavbar ul li a:hover{
	color: lightblue;
	border-radius: 5px;
}
.jumbotron{
	height: 650px;
	background-image: url("../img/health.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 150px;
	color: white;
}
.jumbotron h3{
	font-style: italic;
}
.jumbotron h1{
	font-family: acceleration;
	font-size: 150px;
}
#startchange{
	text-align: justify;
}
#startchange .cmain{
	width: 95%;
	background-color: #cecece;
	padding: 10px 30px;
	box-shadow: 10px 10px 5px grey;
	margin-bottom: 30px;
}
#startchange .cmain h2{
	color:white;
}
#startchange .container .row .col-sm-6 h2{
	font-weight: bold;
}
#startchange .container .row .leftedge{
	padding: 20px 30px;
	background-color: white;
}
#startchange .container .row .rightedge{
	padding: 0px 30px;
}
#startchange .container .row .leftedge #myCarousel{
	box-shadow: 50px;
}
#startchange .container .row .leftedge #myCarousel .carousel-inner a{
	color: white;
}
#startchange .container .row .leftedge #myCarousel .carousel-inner .carousel-caption{
	top: 35%;
	left: 5%;
	text-align: justify;
}
#startchange .container .row .leftedge a.news:hover{
	text-decoration: none;
}
#startchange .container .row .rightedge .today_news{
	background-color: white;
	padding: 10px;
	margin-bottom: 9px;
	border-left: 5px solid orange;
}
#startchange .container .row .rightedge .today_news .news_title a{
	color: black;
	font-weight: bold;
	font-size: 15px;
}
#startchange .container .row .rightedge .today_news:hover{
	transform: scale(1.05,1.1);
	border-left: 10px solid orange;
}
#startchange .container .row .rightedge .news_image{
	padding: 0;
}
#startchange .container .row .rightedge .news_image img{
	width: 135px;
	height: 85px;
}
#startchange .container .row .rightedge .news_title{
	text-align: left;
}
#about{
	background-color: white;
	text-align: justify;
	padding-top: 10px;
}
#about .img_about img{
	width: 450px;
	height: 450px;
}

/*MODALS*/
#sign hr{
	border-color: darkblue;
	width: 48%;
	margin: 10px 0px;
}
#sign input.form-control,
#sign button.form-control{
	width: 48%;
}
#sign #forgotPwd{
	margin-left: 27%;
}
#sign .nav-pills > li > a {
  border-radius: 0;
  padding-left: 102px;
  padding-right: 102px;
}
#sign .tab-content {

}