@import url('../nav.css');
@import url('https://fonts.googleapis.com/css?family=Muli');

.container{
	font-family: 'Muli';
}
#forum-nav .page-header{
	margin-top: 60px;
	margin-bottom: 0px;
}

.forum{
	font-size: 14px;
}
.forum.table > tbody > tr > td {
    vertical-align: middle;
}
.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}
.reply{
	display: none;
}
blockquote{
	background-color: #ddd;
	border-color: blue;
}
.masuk{
	margin-left: 40px!important;
}