@import url('../nav.css');
@import url('https://fonts.googleapis.com/css?family=Muli');

#dashboard{
	margin-top: 50px;
}

.container{
	font-family: 'Muli';
}

#paymentHistory{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}