table th{
	background-color: #eee;
	text-align: center;
}
table tr td{
	vertical-align: middle!important;
}
table tr td:last-child{
	width: 250px;
}
.editbutton{
	display: inline;
}
.editbutton-menu{
	display: inline;
}