.calendar table{
	margin: 0 auto;
}
.calendar table th{
	background-color: #eee;
}
.calendar table tr td{
	width: 100px;
	height: 80px;
}
.calendar table,
.calendar table th{
	/*text-align: center;*/
}
.calendar table th:first-child,
.calendar table td:first-child{
	color: red;
}
.today{
	background-color: skyblue;
}

.msg{
	width: 80%;
}

.remind{
	cursor: default;
	margin-bottom: 2px;
	width: 50px;
}
h4.text-center{
	margin: 0;
}
.well h4{
	margin: 0;
	text-decoration: underline;
}
.well .del_btn{
	border-radius: 50%;
}
