body#abt{
	background-color: #f2f2f2;
	color: black;
}
#us{
	margin-top: 70px;
	padding: 0 50px;
}
#us h1#founder{
	border-bottom: 1px solid lightgrey;
	padding-bottom: 20px;
}
#us h1{
	margin-bottom: 40px;
}
#us .member img{
	width: 200px;
	height: 200px;
	border-radius: 500px;
	margin: 0 auto;
	border: 3px solid #4286f4;
}