@import url('nav.css');
@import url('https://fonts.googleapis.com/css?family=Muli');
#content {
  margin-top: 65px;
  font-family: 'Muli', sans-serif;
}
input.filter{
	width: 100%;
	display: inline;
}

img{
	width: 100%;
}
.profile{
	padding :20px;
}
