@import url('login.css');
@import url('chat.css');

@font-face {
  font-family: acceleration;
  src: url("../fonts/Acceleration & Reaction.ttf");
}

/*.hitam{
  font-weight: bold;
  color: white!important;
  margin-bottom: 30px!important;
}
*/
body {
  background-color: white;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}
.navbar-fixed-top {
  background-color: transparent;
  transition: all 1s ease;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
  border: none;
  height: 20px;
}
.container #myNavbar ul li a,
.container .navbar-header a.navbar-brand{
  color: white;
}
.container .navbar-header a.navbar-brand{
  font-size: 80px;
  font-weight: normal;
  font-family: acceleration;
}
.container #myNavbar ul li a:hover,.container .navbar-header a.navbar-brand:hover{
  color: #16BFFD;
}
.jumbotron {
  height: 650px;
  background-image: url("../img/runner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 100px;
  color: white;
  margin-bottom: 0;
}
.jumbotron h3 {
  font-style: italic;
  color: white;
  font-weight: bold;
}
.jumbotron h1 {
  font-family: acceleration;
  font-size: 200px;
  margin-bottom: 0px;
}
#o_services{
  color: black;
  padding: 30px 40px;
  /*border-bottom: 5px solid #4286f4;*/
  /*border-top: 5px solid #4286f4;*/
  /*margin-bottom: 5px;*/
  /*margin-top: 5px;*/
  background-image: url('../img/bg1.jpg');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#o_services .fe{
  /*padding : 50px 40px;*/
}
#o_services h1{
  margin-bottom: 40px;
}
#o_services .serve i{
  background-color: #4286f4;
  color: white;
  border-radius: 500px;
  transition: 0.2s;
}
#o_services .serve i.new{
  padding: 17px 80px 17px 13px;
}
#o_services .serve i.forums{
  padding: 10px 5px 10px 10px;
}
#o_services .serve i.store{
  padding: 10px 50px 10px 10px;
}
#o_services .serve i.consul, i.bell, i.histo{
  padding: 10px;
}
#o_services .serve i.money{
  padding: 17px 74px 17px 15px;
}
#o_services .serve a{
  text-decoration: none;
  color: #4286f4;
  font-weight: bold;
}
#o_services .serve a:hover i{
  transform: scale(1.05, 1.1);
  transition: 0.2s;
}
#o_services .serve h4{
  display: inline-block;
}
#o_services .serve h4:hover{
  color: black;
  font-weight: bolder;
}
#o_services .first_service{
  margin-bottom: 80px;
}
#o_services .explain{
  /*margin-top: 100px;*/
  background-color: white;
  border-radius:10px;
  padding: 10px;
  box-shadow: 5px 7px grey;
  /*color: white;*/
}
#o_services .explain img{
  width: 100%;
  margin: 0 
}
#startchange{
  /*background-color: #4286f4;*/
  /*background-image: url('../img/dots.png');*/
  padding: 60px;
  color:#545659;
  /*border-bottom: 1px solid grey; */
}
#startchange h1{
  margin-bottom: 50px;
}
#startchange .doc img{
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-bottom: 10px;
  border:2px solid grey;
}
#wts{
  background-color: #4286f4;
  padding: 50px;
}
#wts h1.say{
  margin-bottom: 50px;
  color: white;
}
#wts #myCarousel{
  padding: 0 100px;
}
#wts #myCarousel .carousel-inner img{
  /*margin: 0 auto;*/
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
#wts #myCarousel .carousel-inner .carousel-caption{
  padding: 60px 70px;
  /*text-align: justify;*/
}
#wts #myCarousel a.left_fa{
  padding-right: 100px;
}
#wts #myCarousel a.right_fa{
  right: 0;
  left: auto;
}
#deal{
  background-color: black;
  color: white;
  padding: 20px;
}
#deal .item1{
  border-radius: 10px;
  /*padding: 30px;*/
  background: #00fff2;
  position: relative;
}
#deal .item1 h1{
  position: absolute;
  margin:20px;
}
#deal .item1 img{
  width: 100%;
  height: 350px;
  border-radius: 10px;
}
#complain_id{
  background-color: #f2f2f2;
  color: #545659;
  text-align: justify;
  padding: 40px 30px;
}
#complain_id img.csg{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#complain_id h1.cs{
  margin-bottom: 50px;
}
#complain_id .img_complain_id img {
  width: 450px;
  height: 450px;
}
/*FADE IN EFFECT FOR JQUERY*/
.fades{
  opacity :0;
}