@import url('login.css');

@font-face {
  font-family: acceleration;
  src: url("../fonts/Acceleration & Reaction.ttf");
}

.hitam{
  font-weight: bold;
  color: white!important;
  margin-bottom: 30px!important;
}

body {
  background-color: white;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}
.navbar-fixed-top {
  background-color: transparent;
  transition: all 1s ease;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
  border: none;
  height: 20px;
}
.container #myNavbar ul li a,
.container .navbar-header a.navbar-brand{
  color: white;
}
.container .navbar-header a.navbar-brand{
  font-size: 80px;
  font-weight: normal;  
  font-family: acceleration;
}
.container #myNavbar ul li a:hover,.container .navbar-header a.navbar-brand:hover{
  color: #16BFFD;
}
.jumbotron {
  height: 650px;
  background-image: url("../img/runner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 100px;
  color: white;
  margin-bottom: 0;
}
.jumbotron h3 {
  font-style: italic;
  color: white;
  font-weight: bold;
}
.jumbotron h1 {
  font-family: acceleration;
  font-size: 200px;
  margin-bottom: 0px;
}
#n_feature {
  background-color: #4286f4;
  text-align: justify;
}
#n_feature .cmain {
  width: 95%;
  /*background-color: white;*/
  /*background-color: rgba(26, 188, 156, 0.65);*/
  padding: 10px 30px;
  /*box-shadow: 10px 10px 5px black;*/
}
#n_feature .cmain h2 {
  color: white;
}
#n_feature .container .row .col-sm-6 h2 {
  font-weight: bold;
}
#n_feature .container .row .leftedge {
  padding: 20px 30px;
  background-color: white;
}
#n_feature .container .row .rightedge {
  padding: 0px 30px;
}
#n_feature .container .row .leftedge #myCarousel {
  box-shadow: 50px;
}
#n_feature .container .row .leftedge #myCarousel .carousel-inner a {
  color: white;
}
#n_feature .container .row .leftedge #myCarousel .carousel-inner .carousel-caption {
  top: 30%;
  left: 5%;
  text-align: justify;
}
#n_feature .container .row .leftedge a.news:hover {
  text-decoration: none;
}
#n_feature .container .row .rightedge .today_news {
  background-color: white;
  padding: 10px;
  margin-bottom: 9px;
  border-left: 5px solid #001e4f;
}
#n_feature .container .row .rightedge .today_news .news_title a {
  color: black;
  font-weight: bold;
  font-size: 15px;
}
#n_feature .container .row .rightedge .today_news:hover {
  transform: scale(1.05, 1.1);
  border-left: 10px solid black;
}
#n_feature .container .row .rightedge .news_image {
  padding: 0;
}
#n_feature .container .row .rightedge .news_image img {
  width: 135px;
  height: 85px;
}
#n_feature .container .row .rightedge .news_title {
  text-align: left;
}
#o_services{
  padding: 120px 40px;
  border-bottom: 5px solid #4286f4;
  border-top: 5px solid #4286f4;
  margin-bottom: 5px;
  margin-top: 5px;
}
#o_services h1{
  margin-bottom: 80px;
}
#o_services .serve i{
  background-color: #4286f4;
  color: white;
  border-radius: 500px;
  transition: 0.2s;
}
#o_services .serve i.new{
  padding: 17px 80px 17px 13px;
}
#o_services .serve i.forums{
  padding: 10px 5px 10px 10px;
}
#o_services .serve i.store{
  padding: 10px 50px 10px 10px;
}
#o_services .serve i.consul, i.bell, i.histo{
  padding: 10px;
}
#o_services .serve i.money{
  padding: 17px 74px 17px 15px;
}
#o_services .serve a{
  text-decoration: none;
  color: #4286f4;
  font-weight: bold;
}
#o_services .serve a:hover i{
  transform: scale(1.05, 1.1);
  transition: 0.2s;
}
#o_services .serve h4{
  display: inline-block;
}
#o_services .serve h4:hover{
  color: black;
  font-weight: bolder;
}
#o_services .first_service{
  margin-bottom: 80px;
}
#startchange{
  background-color: #4286f4;
  padding: 60px;
  color:white;
  /*border-bottom: 5px solid white; */
}
#startchange h1{
  margin-bottom: 50px;
}
#startchange .doc img{
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-bottom: 10px;
}
#about {
  text-align: justify;
  padding-top: 10px;
}
#about .img_about img {
  width: 450px;
  height: 450px;
}
/*MODALS*/
#sign input.form-control,
#sign button.form-control {
  width: 48%;
}
#sign #forgotPwd {
  margin-left: 27%;
}
#signIn_signUp .nav-pills > li > a {
  border-radius: 0;
  padding-left: 106px;
  padding-right: 106px;
}
footer.foot{
  background-color: #4286f4;
  padding: 10px 70px;
  color: white;
  font-weight: bolder;
}
footer.foot .row{
  margin-top: 40px;
  margin-bottom: 20px;
}
footer.foot .complain-form{
  margin-top: 10px;
}
footer.foot h4.info{
  margin-bottom: 40px;
}
footer.foot div.surel ul.list-unstyled li{
  padding-left: 33px;
  margin: 10px 0;
  font-weight: bold;
}
footer.foot div.surel ul.list-unstyled li a{
  color: darkblue;
}
footer.foot div.surel ul.list-unstyled li a.inform{
  color: white;
}
footer.foot div.surel ul.list-unstyled li a:hover{
  text-decoration: none;
}
footer.foot div.surel ul.list-unstyled li i{
  margin-right: 10px;
  vertical-align: middle;
  background-color: white;
  padding: 10px;
  border-radius: 200px;
}
footer.foot div.surel ul.list-unstyled li i:hover{
  background-color: darkblue;
  color: white;
}
footer.foot div.surel ul.list-unstyled li i.oval{
  padding: 10px 17px;
  border-radius: 200px;
}
footer.foot div.surel ul.list-unstyled li i.oval_t{
  padding: 10px 15px;
  border-radius: 200px;
}
footer.foot div.surel ul.list-unstyled li i.round{
  padding: 10px 13px;
  border-radius: 200px;
}
footer.foot .services{
  text-align: left;
  /*padding: 0 10px;*/
}
footer.foot .services li{
  margin: 10px 0;
}