.navbar-default{
	background-color: #1565c0!important;
}
#myNavbar > ul > li >a{
  letter-spacing: 3px;
}
#myNavbar > ul > li > a,
.container .navbar-header a.navbar-brand{
	color: white!important;
}
#myNavbar ul li a:hover,
.navbar-default .container .navbar-header a.navbar-brand:hover{
	color: black!important;
	text-shadow: none!important;
}
.navbar-default .navbar-nav .active a{
   color: #000;
   background: #d65c14;
}
