/*Meikelwis 27 Nov 16*/
form.register {
  color: #384047;
  max-width: 800px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="date"],
.register input[type="datetime"],
.register input[type="email"],
.register input[type="number"],
.register input[type="search"],
.register input[type="tel"],
.register input[type="time"],
.register input[type="url"],
.register textarea,
.register select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  font-weight: 800;
  color: #000;
  margin-bottom: 30px;
}

.register input[type="radio"],
.register input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.register select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.register button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4286f4;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #0575e6;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 #0575e6 inset;
  margin-bottom: 10px;
}

.register button:hover{
  background-color: #0575e6;
}

.register fieldset{
  display: block;
}
fieldset.register{
  margin-bottom: 30px;
  border: none;
}

.register legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.register label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #4286f4;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

