.panel-info{
	border-bottom-right-radius: 0px!important;
}
.payment{
  margin-top: 50px;
}
.panel-heading h2,
.panel-heading h3{
	margin: 0;
}
hr{
	margin-top: 0;
}
.panel ul{
	padding: inherit;
}
.pull-right button{
	border-top-left-radius: 0px!important;
	border-top-right-radius: 0px!important;
}
#fotoDokter{
	width: 100%;
}
textarea[name = "buyeraddress"]{
	resize: none;
}

@media screen and (max-width: 500px){
	#donate_list ul{
		width: 100%;
	}
	#donate_list ul.dropdown-menu .col-sm-12, #donate_list ul.dropdown-menu .col-sm-12 .container{
		padding: 0;
	}
}
